/* styles/Login.module.css */
.half-screen-container {
    display: flex;
    height: 100vh;
  }
  
  .half-screen-image {
    position: relative;
    flex: 1;
    background-image: url("/auth.png");
    background-size: cover;
    background-position: center center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/auth  hover.png");
  }
  
  .icon {
    position: absolute;
    padding: 34px;
  }
  
  .title {
    position: absolute;
    color: #fff;
    font-size: 44px;
    font-weight: 700;
    line-height: 70px;
    width: 440px;
    height: 280px;
    top: 150px;
    left: 70px;
  }
  
  .content {
    flex: 1;
    padding: 0 40px;
    padding-top: 20px;
  }
  
  .form-title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
  }
  
  .button-link {
    padding-bottom: 5px;
  }
  
  .form-group-input {
    padding: 5px 0;
    color: #9EA0A5;
  }
  
  .form-control {
    width: 100%;
    height: 50px;
    color: #9EA0A5;
    border-radius: 4px;
    border-color: #E2E5ED;
  }
  
  .form-control:focus {
    border-color: #fbb017;
    box-shadow: 0 0 0 0.2rem rgba(251, 176, 23, 0.25);
  }
  
  .btn {
    color: white;
    background-color: #fbb017;
  }

  .btn:hover {
    color: white;
    background-color: #fbb017;
  }
  
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #fbb017;
  }


  
  @media (max-width: 768px) {
    .title {
      left: -10000px;
    }
    .form-title {
      text-align: center;
      padding: 0 120px;
  }

  .content {
      flex: 1;
      padding:20px 20px;

  }
  
    .form-control {
      width: 100%;
      height: 40px;
    }
  }
  